/* CSS for table */
.tbl-list{
    border-radius: 15px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgb(200, 200, 200);
    background-color: white;
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin-top: 25px;
} 
.tbl-list thead {
    box-shadow: 0 5px 10px rgb(200, 200, 200);
}
.tbl-list th {
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: bold;
}
.tbl-list td {
    padding: 15px;
}
/* Color alternating rows */
.tbl-list tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
}

.row-btns{
    padding-top: 20px;
}
