
/* CSS for table */
.tbl{
    margin-bottom: 20px;
}
.tbl td{
    width: 50%;
}


/* for book catalog section */
.book-catalog-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.05);
}

.book-catalog-img{
    height: auto;
    width: 20%;
    float: left;
}

.book-catalog-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.img-logo-home{
    width: 50%;
    margin: 50px;
}
.img-home{
    height: 200px;
    margin-right: 20px;
}


/* CSS for modal window */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; 
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    color: hsl(209, 98%, 21%);
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 20px;
    right: 30px;
    transition: all 200ms;
}
  
.close:hover,
.close:focus {
    color: hsl(209, 98%, 30%);
    text-decoration: none;
    cursor: pointer;
}

.modal-content .content {
    max-height: 30%;
    overflow: auto;
}