
/* CSS for table */
.tbl{
    margin-bottom: 20px;
}
.tbl td{
    width: 50%;
}
.tbl-confirm{
    margin-bottom: 0px;
}
.img-confirm{
    margin: auto;
    width: 70%;
}
.confirm-desc{
    width: 100%;
    float: left;
}
.confirm-col-img{
    width: 40%;
}
.confirm-container input[type="text"]{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
}
.confirm-container input[type="number"]{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
}
.confirm-container input[type="password"]{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
}


/* for book catalog section */
.book-catalog-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.05);
}

.book-catalog-img{
    height: auto;
    width: 20%;
    float: left;
}

.book-catalog-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

