@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Nunito', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height:100vh;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%; 
}
.img-logo{
    width: 50%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
.text-bold{
    font-weight: bold;
}
.width-full{
    width:100%;
}
.clearfix{
    clear: both;
    float: none;
}
.indent{
    margin-left:20px;
}

a{
    color: hsl(209, 98%, 21%);
    text-decoration: none;
}
a:hover{
    color: hsl(209, 98%, 30%);
}

.btn{
    /* margin-bottom: 20px; */
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
.btn-primary{
    background-color: rgb(66, 85, 255);
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: rgb(66, 62, 216);
    color: white;
    transition: 0.5s;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}
.div{
    border: 5px solid black;
    margin: auto;
}
.confirm-container{
    width: 35%;
    margin: 0 auto;
    padding: 50px; 
    border-radius: 25px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.05); /* x_translate, y_translate, fade, size */
}
.page-container {
    background-color: rgb(246, 247, 251);
    padding: 4% 0;
    flex-grow: 1;
}

/* CSS for table */
.tbl{
    margin-bottom: 20px;
}
.tbl td{
    width: 50%;
}
.tbl-confirm td{
    width: 10%;
}
.tbl-confirm{
    margin-bottom: 0px;
}
.img-confirm{
    margin: auto;
    width: 60%;
}
.confirm-desc{
    width: 100%;
    float: left;
}


/* CSS for navbar section */
.logo{
    width: 10%;
    float: left;
}
.navbar{
    z-index: 999;
    box-shadow: 0px 1px 10px -5px black;
}
.nav-container{
    width: 80%;
    margin: 0 auto;
    padding: 1%; 
}
.tabs-container{
    line-height: 60px;
}
.tabs-container ul{
    list-style-type: none;
}
.tabs-container ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for footer section */
.footer{
    box-shadow: 0px -1px 10px -5px black;
}   
.footer-container{
    width: 80%;
    margin: 0 auto;
    padding: 1%; 
}


/* CSS for Book Search Section */
.book-search{
    background-image: url(../images/search-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.book-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* for book catalog section */
.book-catalog-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.05);
}

.book-catalog-img{
    height: auto;
    width: 20%;
    float: left;
}

.book-catalog-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.book-author{
    font-size: 1.2rem;
    margin: 2% 0;
}
.book-ISBN{
    font-size: 1.2rem;
    margin: 2% 0;
}
.book-num-copies{
    font-size: 1.2rem;
    margin: 2% 0;
}
.book-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* for Login Window */
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.05);
}
.center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}