@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Nunito', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height:100vh;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%; 
}
.img-logo{
    width: 50%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
.text-bold{
    font-weight: bold;
}
.width-full{
    width:100%;
}
.clearfix{
    clear: both;
    float: none;
}
.indent{
    margin-left:20px;
}

a{
    color: hsl(209, 98%, 21%);
    text-decoration: none;
}
a:hover{
    color: hsl(209, 98%, 30%);
}

.btn{
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
.btn-primary{
    background-color: rgb(66, 85, 255);
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: rgb(66, 62, 216);
    color: white;
    transition: 0.5s;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}
.div{
    border: 5px solid black;
    margin: auto;
}
.confirm-container{
    background-color: white;
    width: 35%;
    margin: 0 auto;
    padding: 50px; 
    border-radius: 25px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.05); /* x_translate, y_translate, fade, size */
}
.page-container {
    background-color: rgb(246, 247, 251);
    padding: 4% 0;
    flex-grow: 1;
}
.comp-container{
    background-color: white;
    width: auto;
    margin: auto;
    margin-top: 50px;
    padding: 50px; 
    border-radius: 25px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.05); /* x_translate, y_translate, fade, size */
}
.dash-container{
    background-color: white;
    text-align: center;
    width: 200px;
    float: left;
    margin-bottom: 50px;
    margin-right: 40px;
    padding: 30px; 
    border-radius: 25px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.05); /* x_translate, y_translate, fade, size */
}

/* CSS for navbar section */
.logo{
    width: 10%;
    float: left;
}
.navbar{
    z-index: 999;
    box-shadow: 0px 1px 10px -5px black;
}
.nav-container{
    width: 80%;
    margin: 0 auto;
    padding: 1%; 
}
.tabs-container{
    line-height: 60px;
}
.tabs-container ul{
    list-style-type: none;
}
.tabs-container ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* CSS for footer section */
.footer{
    box-shadow: 0px -1px 10px -5px black;
}   
.footer-container{
    width: 80%;
    margin: 0 auto;
    padding: 1%; 
}

/* CSS for session format */
.error{
    color: red;
    text-align: center;
}

.success{
    color: green;
    text-align: center;
}

/* CSS for Book Search Section */
.book-search{
    background-image: url(../images/search-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
    z-index: 99;
    box-shadow: 0px 1px 10px -5px black;
}

.book-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

/* CSS for confirm page */
.tbl-confirm{
    margin-bottom: 0px;
}
.img-confirm{
    margin: auto;
    width: 70%;
}
.confirm-desc{
    width: 100%;
    float: left;
}
.confirm-col-img{
    width: 40%;
}
.confirm-container input[type="text"]{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid black;
}
.confirm-container input[type="number"]{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid black;
}
.confirm-container input[type="password"]{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid black;
}